@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    transition: all 0.3s;
}

.cont{
    max-width: 1140px;
    margin: 0 auto;
    
}

.skrol{
    overflow: auto;
    
}
.skrol::-webkit-scrollbar {
    display: none;
}